{% set navPages = collections.all | eleventyNavigation %}

{# creates an object with pages (incl. sub-pages) that contain the marker object which is used to organize pages throughout the site #}
{% set recommended = [] %}
{% for item in navPages %}
    {% for children in item.children %}
        {% for marker in children.marker %}
            {% if marker == "Recommended" %}
                {% set recommended = recommended.concat([children]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for marker in item.marker %}
        {% if marker == "Recommended" %}
            {% set recommended = recommended.concat([item]) %}
        {% endif %}
    {% endfor %}

{% endfor %}

<section class="aside-block ">
    <h2>Status</h2>
    <div id="statuscafe">
        <div id="statuscafe-username"></div>
        <div id="statuscafe-content"></div>
    </div>
    <script src="https://status.cafe/current-status.js?name=reduxflakes" defer></script>
</section>

<section class="aside-block lastfm-widget "   >
    <h2>
        <span id="loadingStatus"></span>
        <span id="playState">Last played was</span>
    </h2>
    <img src="" alt="" id="albumCover">
    <h3 >
        <a href="" id="name" target="_blank" rel="noopener"></a>
    </h3>
    <p id="artist"></p>

    <small id="albumName"></small>

    <details>
        <summary>Show recents</summary>
        <ol id="lastfm-history"></ol>
    </details>
</section>

<section class="aside-block">
    <h2>To-do</h2>
    <progress max="100" value="76"></progress>
    <small>Current progress: 76%</small>
    <ul>
        <li>Gaming page</li>
        <li>Better projects page</li>
        <li>Gallery for showcasing mockups</li>
        <li>Download center</li>
    </ul>
</section>

{% if env.environment == "production" %}

    <section  class="aside-block">
        <h2>Neocities Stats</h2>
        <p id="neoCreated"></p>
        <p id="neoVisitors"></p>
    </section>

    <section class="aside-block">
        <h2>Nekoweb Stats</h2>
        <p id="nekoCreated"></p>
        <p id="nekoVisitors"></p>
        <p id="nekoFollowers"></p>
    </section>

{% endif %}

<section class="aside-block">
    <h2>
          Recommended Pages</h2>
    <nav>
        <ul role="list">
            {%- for entry in recommended -%}
                <li>
                    <a href="{{entry.url}}">{{entry.data.title}}</a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>
</section>

<section class="aside-block">
    <h2>Site Preferences</h2>
    <div class="auto-flex">
        <input type="checkbox" class="toggle" id="toggle-music-player"  onchange="changeStateMC(this)">
        <label for="toggle-music-player">Toggle Music Player</label>
    </div>
    <small>This will reload the page</small>
    <div class="auto-flex">
        <label for="theme-switcher">Change Theme</label>

        <select name="themes" id="theme-switcher" onchange="setTheme(this.value)">
            <option value="default" selected="selected">Rose</option>
            <option value="forest">Forest</option>
            <option value="ocean">Ocean</option>
            <option value="midnight">Midnight</option>
        </select>
    </div>
</section>