{%- from "util/component.njk" import component with context -%}
<aside class="aside">
    <section class="aside-card aside-card--expand">
        <h2 class="md-heading">Latest Posts</h2>
        {% for post in collections.posts | limit(3) %}
            <a href="{{post.url}}" class="card">
                <section>
                    <h3>{{post.data.title}}</h3>
                    <time datetime="{{post.date}}">{{post.date | formatPostDate}}</time>
                </section>
            </a>
        {% endfor %}
    </section>
    <section class="aside-card aside-card--expand">
        <h2 class="md-heading">Currently Working On</h2>
        <ul style="padding-inline-start:2rem;font-size:0.95rem">
            <li>A toolbox app for Windows</li>
            <li>SurfScape v3 release</li>
            <li>Remastering music</li>
            <li>
                <a href="/#more-stuff">This website!</a>
            </li>
        </ul>
    </section>
    <section class="aside-card aside-card--expand">
        <h2 class="md-heading">Guestbook <span class="lucide--circle-help"></span></h2>
        <a href="https://reduxflakes.atabook.org/" class="card" target="_blank" rel="noopener" style="border-color:#108EC0;">
            <section>
                <h3>Sign at atabook.org</h3>
            </section>
        </a>
    </section>
    <section class="aside-card aside-card--expand">
        <h2 class="md-heading">Favourite Quote</h2>
        <blockquote style="margin-inline-start:1rem;padding-inline-end:1rem;font-size:0.95rem;">
            <p class="citation" style="text-align:right;">
        “An <strong>idiot</strong> admires <strong>complexity</strong>, a
        <strong>genius</strong> admires <strong>simplicity</strong>”
      </p>
            <p class="author" style="text-align:right;">- Terry A. Davis</p>
        </blockquote>
    </section>
</aside>