<aside class="aside stack">
    <section class="aside-card">
        <h2 class="md-heading">Latest Posts</h2>
        {% for post in collections.posts %}
            <a href="{{post.url}}" class="card">
                <section>
                    <h3>{{post.data.title}}</h3>
                    <time datetime="{{post.date}}">{{post.date | formatPostDate}}</time>
                </section>
            </a>
        {% endfor %}
    </section>
    <section class="aside-card"></section>
    <section class="aside-card"></section>
    <section class="aside-card"></section>
</aside>