{% if eleventyNavigation.key and eleventyNavigation.key != "Home" %}
    {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, {includeSelf: true}) %}
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ol>
            <li>
                <a href="/">Home</a>
            </li>
            {% for crumb in navPages %}
                {% if crumb.url %}
                    {% if not loop.last %}
                        <li>
                            <a href="{{crumb.url}}">{{crumb.key}}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href=""aria-current="page">
                                <b>{{crumb.key}}</b>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}