<style>
    .button-list {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
        list-style-type: none;
        padding: 0;
        gap: 0.5rem;
    }

    .button-list a,
    .button-list a img,
    .button-list li {
        display: block;
        width: 88px;
        height: 31px;
        image-rendering: pixelated;
        transition: 150ms ease-in-out all;
    }

    .button-list a:hover {
        scale: 1.05;
        box-shadow: 0 2px 4px 0 black;
    }
</style>

<section class="stack" >
    <h2>Friends</h2>
    <ul class="button-list">
        {%- for item in buttons.friends -%}
            <li>
                <a href="{{item.url}}" title="{{item.title}}"><img src="/public/img/buttons/friends/{{item.img}}"
                    alt="{{item.title}} button" loading="lazy"></a>
            </li>
        {%- endfor -%}
    </ul>
    <h2>Sites I like</h2>
    <ul class="button-list">
        {%- for item in buttons.likes -%}
            <li>
                <a href="{{item.url}}" title="{{item.title}}"><img src="/public/img/buttons/{{item.img}}"
                    alt="{{item.title}} button" loading="lazy"></a>
            </li>
        {%- endfor -%}
    </ul>
</section>