<footer>
    <p>&copy; 2021 - 2025 ReduxFlakes. <a href="/about/#license">License and attribution</a> / <a href="/privacy">Privacy Statement</a>
    </p>
    <p>Built with <a href="https://www.11ty.dev/">11ty</a> and procrastination, and hosted for free thanks to <a href="https://neocities.org/">Neocities</a> and <a href="https://nekoweb.org/">Nekoweb</a>.</p>
</footer>