<head>
    {% if title -%}
        {%- set page_title = [title, " - ", meta.title] | join -%}
    {% endif %}
    {%- if env.host == "neocities" -%}
        {%- set host = meta.url_neo -%}
    {%- else -%}
        {%- set host = meta.url_neko -%}
    {%- endif -%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark"/>
    <meta name="CCBot" content="nofollow">
    <meta name="robots" content="noai, noimageai">
    <meta name="tdm-reservation" content="1">
    <title>{{page_title or meta.title}}</title>
    <meta name="description" content="{% if description %}{{description}}{% else %}{{ meta.description }}{% endif %}">
    <base href="{{page.url}}">
    <link rel="canonical" href="{{host}}">
    <link rel="shortcut icon" href="/public/branding/favicon.svg" type="image/svg+xml">
    <meta property="og:url" content="{{host}}{{ page.url }}">
    <meta property="og:title" content="{{page_title or meta.title}}">
    <meta property="og:site_name" content="{{ meta.title }}"/>
    <meta property="og:description" content="{%- if description -%}{{description}}{%- else -%}{{meta.description}}{%- endif -%}">
    <meta property="og:locale" content="{{meta.lang}}">
    <meta property="article:author" content="{{ meta.webmaster.name }}"/>
    <meta name="generator" content="{{ eleventy.generator }}"/>
    {% css "base" -%}
    {%- include "styles/base.css" -%}
    {%- endcss -%}
    <style>
        {% getBundle "css", "base" %}
    </style>
    {% css -%}
    {%- include "styles/style.css" -%}
    {%- endcss -%}
    {% css "content" -%}
    {%- include "styles/content.css" -%}
    {%- endcss -%}
    {% if content_css != false %}
        <style>
            {% getBundle "css", "content" %}
        </style>
    {% endif %}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    {%- if env.environment == "production" -%}
        <script src="https://tinylytics.app/embed/dcJBJt8md3MZEExK1rry.js?kudos=❤️" defer></script>
    {%- endif -%}
    <script>

        if (localStorage.getItem("theme")) {
            document.documentElement.className = localStorage.getItem("theme");
        } else {
            setTheme("default");
        }

        function setTheme(themeName) {
            localStorage.setItem("theme", themeName);
            if (themeName === "default") {
                document.documentElement.className = null;
            } else {
                document.documentElement.className = themeName;
            }

        }
    </script>
</head>