{% set header_title = title %}
<header class="main-header">
    <h1>
        {% if header_title %}
            {{header_title}}
            {%else%}
            {{meta.title}}
        {% endif %}
    </h1>
    {% if is_post %}
        <p>{{description}}</p>
        <p>
            <time datetime="{{date}}">{{date | formatPostDate}}</time>
        </p>
    {% else %}
        <p>{{description}}</p>
    {% endif %}
</header>