<aside class="sidebar highway">

  <h2>Webrings</h2>
  <div style="display: grid; grid-template-columns: repeat(2, 1fr)">
    {% if env.host == "neocities" %}
      <p class="webring-label">neossg</p>
      <div id="neossg" class="webring-container">
        <script
          type="text/javascript"
          src="https://neossg.neocities.org/onionring-variables.js"
        ></script>
        <script
          type="text/javascript"
          src="https://neossg.neocities.org/onionring-widget.js"
        ></script>
      </div>

      <p class="webring-label">null</p>
      <p class="webring-container null">
        <script src="https://nuthead.neocities.org/ring/ring.js"></script>
      </p>
      <p class="webring-label">no ai</p>
      <p class="webring-container">
        <a
          href="https://baccyflap.com/noai/?prv&s=rzr"
          target="_top"
          class="icon-button"
        >
          <span class="lucide--arrow-left"></span>
        </a>
        <a
          href="https://baccyflap.com/noai"
          target="_blank"
          rel="noopener"
          class="icon-button"
        >
          <span class="lucide--globe"></span
        ></a>
        <a
          href="https://baccyflap.com/noai/?nxt&s=rzr"
          target="_top"
          class="icon-button"
        >
          <span class="lucide--arrow-right"></span>
        </a>
      </p>
    {% endif %}
    {% if env.host == "nekoweb" %}
      <p class="webring-label">bucket webring</p>
      <p class="webring-container">
        <a
          href="https://webring.bucketfish.me/redirect.html?to=prev&name=reduxflakes"
          target="_top"
          class="icon-button"
        >
          <span class="lucide--arrow-left"></span>
        </a>
        <a
          href="https://webring.bucketfish.me"
          target="_blank"
          rel="noopener"
          class="icon-button"
        >
          <span class="lucide--globe"></span
        ></a>
        <a
          href="https://webring.bucketfish.me/redirect.html?to=next&name=reduxflakes"
          target="_top"
          class="icon-button"
        >
          <span class="lucide--arrow-right"></span>
        </a>
      </p>
    {% endif %}
  </div>
</section>

<section class="aside-card aside-card--expand">
  <h2 class="md-heading">Guestbook</h2>
  <a href="https://reduxflakes.atabook.org/" class="card" target="_blank" rel="noopener" style="border-color:#108EC0;">
    <section>
      <h3>Sign at atabook.org</h3>
    </section>
  </a>
</section>

<script>
  /* use the website icons for NeoSSG webring */
  document
    .getElementsByClassName("webring-info")
    .innerHTML = '<span class="webring-info"><a href="https://neossg.neocities.org"><span class="lucide--globe"></span></a></span>';
  document
    .getElementsByClassName("webring-prev")
    .innerHTML = '<span class="lucide--arrow-left"></span>';

  document
    .getElementsByClassName("webring-next")
    .innerHTML = '<span class="lucide--arrow-next"></span>';
</script>
</aside>
<style>
.webring-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}

.webring-label {
  color: var(--type-strong);
  font-size: 1.4rem;
}

#neossg .webring-next a,
#neossg .webring-prev a,
.null a {
  display: flex;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--stroke);
  text-decoration: none;
  color: var(--type-subtle);
}

.null a img {
  width: 20px;
  height: 20px;
}

#neossg .webring-next a:hover,
#neossg .webring-prev a:hover,
.null a:hover {
  background: var(--background-state);
}
</style>