<aside class="sidebar highway stack" style="--spacer:0.75em;">
    <h2>Highway</h2>
    <p>A place of quick links around the website.</p>
    <h2>Webrings</h2>
    <p>Insert webrings here</p>
    <h2>Currently listening</h2>
    {% include "components/lastfm.njk" %}
</aside>