{% set navigation = collections.all | eleventyNavigation -%}

{%- set categories = [] -%}
{%- for item in navigation -%}
    {%- if item.key != "Home" -%}
        {%- if item.children.length -%}
            {%- set categories = categories.concat([item]) -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{% macro navlink(url, title, construction, description, icon, category) %}
    <li >
        <a href="{{ url }}" aria-label="Navigate to the {{title}} page in the {{ category }} category" {% if page.url === url %}aria-current="page"{% endif %}>
            <span class="link-header">
                {% if icon %}
                    <img src="/public/icons/{{icon}}.png" alt="" aria-hidden="true" class="icon">
                {% endif %}
                {% if construction %}
                    <i>{{ title }}</i>
                    {%else%}
                    {{title}}
                {% endif %}
            </span>
            <p>{{description}}</p>
        </a>
    </li>
{% endmacro %}

<nav class="navbar" aria-label="ReduxFlakes Main Navigation">
    {%- for entry in categories -%}
        {#{% if env.environment == "development" and loop.first %}
            <details id="cat-{{entry.key | slugify}}" open class="nav-item" >
            {% else %} #}
        <details id="cat-{{entry.key | slugify}}" class="nav-details">
            {#{% endif %}#}
            <summary aria-controls="nav-{{entry.key | slugify }}"  {% if entry.key === parent or entry.key === title %}aria-current="true"{% endif %}>
                {% if entry.icon -%}
                    <img src="/public/icons/{{entry.icon}}.png" alt="" aria-hidden="true" class="icon">
                {%- elif entry.data.icon -%}
                    <img src="/public/icons/{{entry.data.icon}}.png" alt="" aria-hidden="true" class="icon">
                {%- endif -%}
                {{ entry.title }}</summary>
            <section class="stack" style="--spacer:0.5em;">
                <h2 style="font-size:1.25rem;">{{entry.data.title}}</h2>
                <p>{{entry.data.description}}</p>
                <hr>
                <ul id="nav-{{entry.key | slugify }}" aria-label="{{entry.title}} submenu" class="navbar-list">
                    {# show category link if the same has a url/permalink enabled #}
                    {% if entry.url -%}
                        {{navlink(entry.url, entry.data.title, entry.data.isInConstruction, entry.data.description, entry.data.icon,entry.key)}}
                    {%- endif -%}
                    {# for the links inside a category #}
                    {%- for item in entry.children -%}
                        {%- if item.url -%}
                            {{navlink(item.url, item.title, item.data.isInConstruction, item.data.description, item.data.icon, item.parent)}}
                        {%- endif -%}
                    {%- endfor -%}
            </ul>
            {%- set constructionEnabled = false -%}
            {%- for item in entry.children -%}
                {%- if (entry.data.isInConstruction or item.data.isInConstruction) and (entry.url != "" or item.url != "") and constructionEnabled != true -%}
                    {% set constructionEnabled = true-%}
                    <p>
                        <small>Pages with <i>italicized</i> titles are still under construction.</small>
                    </p>
                {%- endif -%}
            {%- endfor -%}
        </section>
    </details>
{%- endfor -%}
</nav>