<aside class="app-sidebar">
    <b class="sidebar__title">Stores</b>
    <nav>
        <ul role="list">
            <li>
                <a href="/">{%- lucide "house" -%} Home</a>
            </li>
        </ul>
    </nav>
    <b class="sidebar__title">Other Fun Stuff</b>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/notes">Notes</a>
        <a href="/projects">Projects</a>
    </nav>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, numquam ullam esse explicabo impedit doloribus accusamus eaque veritatis alias commodi? At modi ad, sint excepturi animi impedit corrupti vitae dicta.</p>
</aside>