<header class="navigator">
    <b class="brand">reduxflakes</b>
    <nav class="navigator-nav">
        {% for item in navigator %}
            <a href="{{item.url}}">
                {{item.title}}
            </a>
        {% endfor %}
    </nav>
</header>