<nav class="navigator">
    <strong class="brand">reduxflakes</strong>
    {% for item in navigator %}
        <a href="{{item.url}}">
            <img src="/public/icons/{{item.icon}}.png" alt="{{item.title}} icon" width="18px" height="18px">
            {{item.title}}</a>
    {% endfor %}
</nav>