{% css "lastfm" %}
.lastfm-widget{
background: black;
padding:0.5em;
border-radius:6px;
}
#playing-status {
display:block;
text-align:center;
}
#album-cover {
width: 145px;
height:145px;
margin:0 auto;
border: 1px solid white;
margin-block: 0.5rem;
}
{% endcss %}

<div class="lastfm-widget">
    <div>
        <span id="playing-status"></span>
        <img id="album-cover" src="" alt="Album cover art"/>
    </div>
    <div id="lastfm_meta">
        <a id="music-link" target="_blank" href="#">
            <span id="music-title"></span>
        </a>
        <p>Artist: <span id="artist-name"></span></p>
        <p>Album: <span id="album-name"></span></p>
    </div>
</div>
<script>
    const username = "reduxflakes";
    const api_key = "c59918e6eac0070e14ca1db741ed8bcf";
    const getUserData = () => {
        fetch(`https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${username}&api_key=${api_key}&format=json`)
            .then((response) => response.json())
            .then((data) => {
                let track = data
                    .recenttracks
                    .track[0];
                let trackName = track.name;
                let albumName = track.album["#text"];
                let artistName = track.artist["#text"];
                let albumCover = track.image[3]["#text"];
                let isPlaying = track["@attr"] && track["@attr"].nowplaying === "true";
                document
                    .getElementById("music-title")
                    .innerText = trackName;
                document
                    .getElementById("album-name")
                    .innerText = albumName;
                document
                    .getElementById("artist-name")
                    .innerText = artistName;
                document
                    .getElementById("album-cover")
                    .src = albumCover;
                document
                    .getElementById("music-link")
                    .href = `https://www.last.fm/music/${encodeURIComponent(artistName)}/_/${encodeURIComponent(trackName)}`;

                document
                    .getElementById("playing-status")
                    .innerText = isPlaying
                        ? "Now playing:"
                        : "Recently played:";
            });
    };
    getUserData();
    // Update the widget every 10 seconds
    setInterval(getUserData, 100 * 1000);
</script>