<a href="{{params.href}}" class="icon-link" {%- if params.style -%}style="{{ params.style }}"{%- endif -%}>
    <span {% if params.icon -%}class="{{ params.icon }}"{%- else -%}class="lucide--square-arrow-down-right"{%- endif -%}></span>
    {{params.title}}</a>