<section class="post-listing">
    {% if params.subheading %}
        <h3>{{ params.title }}</h3>
    {% else %}
        <h2>{{ params.title }}</h2>
    {% endif %}
    <p>
        <small>
            <time datetime="{{params.date}}">{{params.date | formatPostDate}}</time>
        </small>
    </p>
    <p>{{ params.description }}</p>
    <a href="{{params.href}}">Read {%- lucide "arrow-down-right" -%}</a>
</section>