---
eleventyAllowMissingExtension: true
permalink: "{% if env.host %}/elements.css{% endif %}"
---
/*!@nkb "domain":"reduxflakes","rss":"","overflow":false,"readonly":false */
.site-box{background:#1c292b;display:grid;place-items:center}.site-box>a>.sitefeature{display:none}.site-box>a>p{display:flex;flex-direction:column;color:#cdeff4;font-family:system-ui;font-size:2.4rem;letter-spacing:-.05em;font-weight:700;transition:all 500ms cubic-bezier(.33,.72,.32,.78)!important}.site-box>a>p:hover{letter-spacing:.025em;scale:1.1}.site-box>a .follow{font-size:1.25rem;color:#9deefb}.post-box{background-color:#1c292b;border:0;padding:1rem;border-radius:0;color:#cdeff4;font-family:system-ui}.post-box .post-title{font-size:1.5rem;font-family:system-ui;font-weight:700;font-style:normal;margin-top:.5em;margin-bottom:-.25em}.follow{background-color:#1c292b;border:1px solid #38494b;color:#cdeff4;padding:2px 10px;cursor:pointer;font-family:"MS UI Gothic",Verdana,sans-serif;font-size:1rem;margin:0;display:block;width:100%;height:100%}