---
title: "Blog"
description: "Life, projects, site updates, and other rambles..."
pagination:
  data: collections.posts
  size: 4
  alias: posts
permalink: "blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html"
paginationPrevText: 'Newer posts'
paginationNextText: 'Older posts'
---

{% if pagination.pageNumber == 0 %}
  <p>Tags: 
      {% set tagCloud = collections.posts | tagCloud %}
    {% for tag, count in tagCloud %}
      <a href="/blog/t/{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
  </p>
{% endif %}

<div class="auto-flex">
  <a href="/blog/feed.xml"><img src="/public/img/buttons/general/80-rss.png" alt="RSS Feed" style="image-rendering:pixelated;"></a>
  <a href="/blog/atom.xml"><img src="/public/img/buttons/general/80-atom.png" alt="Atom Feed" style="image-rendering:pixelated;"></a>
  <a href="/blog/feed.json"><img src="/public/img/buttons/general/80-json.png" alt="JSON Feed" style="image-rendering:pixelated;"></a>
</div>

{% for post in posts %}
  {{ component('post-listing', {title: post.data.title, date: post.date, description: post.data.description, href: post.url }) }}
{% endfor %}

{% if pagination.href.next or pagination.href.previous %}
  <footer>
    <nav class="pagination__inner" aria-label="Pagination links">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">
          <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
        </a>
      {% endif %}
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards">
          <span>{{ paginationNextText if paginationNextText else 'Next' }}</span>
        </a>
      {% endif %}
    </nav>
  </footer>
{% endif %}