---
pagination: 
    data: collections
    size: 1
    alias: tag
permalink: "blog/t/{{ tag | slugify }}/"
eleventyComputed:
    title: "Tagged with {{ tag }}"
---

<a href="../../">Go back to the blog index</a>

{% set taglist = collections[tag] | reverse %}
{% for post in taglist %}
    {{ component('post-listing', {title: post.data.title, date: post.date, description: post.data.description, href: post.url }) }}
{% endfor %}