---
pagination:
  data: collections.digitalGardenTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "/digital-garden/tags/{{ tag }}/"
eleventyComputed:
  title: "Tagged with: {{ tag }}"
  parent: "Digital Garden"
  description: false
  key: "Tagged with: {{ tag }}"
---

{% for post in collections[tag] | reverse %}
    {{ component('post-listing', {title: post.data.title, date: post.date, description: post.data.description, href: post.url }) }}
{% endfor %}