---
pagination:
  data: collections.digitalGarden
  size: 1
  alias: posts
  addAllPagesToCollections: true
paginationPrevText: 'Newer posts'
paginationNextText: 'Older posts'
permalink: "/digital-garden/{{posts.title | slugify}}/"
eleventyComputed:
  parent: "Digital Garden"
  key: "{{ posts.title }}"
  title: "{{ posts.title }}"
  description: "{{posts.description}}"
---

{% renderTemplate "md" %}
  
## Notes

{% endrenderTemplate %}

{% for post in posts.children %}
  {{ component('post-listing', {title: post.title, date: post.date, description: post.description, href:
post.url }) }}
{% endfor %}

{% renderTemplate "md" %}
  
## Tags

{% endrenderTemplate %}

<auto-flex>
  {%- for tag in collections.digitalGardenTags -%}
    {% set tagPages = collections.digitalGarden | selectattr("tags", "contains", tag) %}

    <a class="label" href="../tags/{{ tag | slugify }}">{{ tag }}
      <small>
        {{tagPages.length}}</small>
    </a>
  {%- endfor -%}
</auto-flex>