---
pagination:
  data: collections.digitalGarden
  size: 1
  alias: posts
  addAllPagesToCollections: true
paginationPrevText: 'Newer posts'
paginationNextText: 'Older posts'
permalink: "/digital-garden/{{posts.title | slugify}}/"
eleventyComputed:
  parent: "Digital Garden"
  key: "{{ posts.title  | slugify }}"
  title: "{{ posts.title | safe }}"
---

{% renderTemplate "md" %}
  
## Notes

{% endrenderTemplate %}

{% for post in posts.children %}
  {{ component('post-listing', {title: post.title, date: post.date, description: post.description, href:
post.url }) }}
{% endfor %}

{% renderTemplate "md" %}
  
## Tags

{% endrenderTemplate %}

<auto-flex>
  {%- for tag in posts.tagSet -%}
    <a class="label" href="../tags/{{ tag }}">{{ tag }}
      <small>
{{ collections[tag].length }}</small>
    </a>
  {%- endfor -%}
</auto-flex>