.hero {
    position: relative;
    overflow: hidden;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, transparent, var(--background-low) 94%);
}

.hero::before {
    --hero-trans-delay: 150ms;
    position: absolute;
    content: "";
    background-image: var(--backdrop-icon);
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    image-rendering: pixelated;
    display: block;
    right: 1rem;
    opacity: 0;
    z-index: -2;
    animation: 800ms cubic-bezier(0.28, 0.62, 0.22, 0.75) var(--hero-trans-delay) forwards slideInFromRight;
}


@keyframes slideInFromRight {
    0% {

        opacity: 0;
        transform: translateX(100px);
    }

    47% {
        transform: translateX(-8px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}