/* themes */
:root {
  --font: "Inter", system-ui, sans-serif;
  /* the background used behind the main site */
  --background: url("/public/noise.png") #131416;
  /* the background used for the main site's content */
  --main-background: url("/public/noise.png") hsl(240, 6%, 14%);
  /* used for static borders */
  --stroke: hsla(240, 2%, 100%, 0.15);
  /* used for cards and other main elements that sit on top of the main content*/
  --container: url("/public/noise.png") #2E2E32;
  /* used for elements that sit on top of other containers */
  --container-high: url("/public/noise.png") hsla(240, 4%, 30%, 0.5);
  /* used for transparent background, should be used with backdrop-filter: blur; */
  --container-trans: url("/public/noise.png") hsla(240, 5%, 14%, 0.6);
  /* used for most text */
  --foreground: hsl(240, 2%, 86%);
  /* headings, bold text, and controls */
  --foreground-strong: hsl(240, 2%, 98%);
  /* used for text with less significance */
  --foreground-muted: hsl(240, 2%, 70%);
  /* used for primary controls and links */
  --primary: hsl(331, 60%, 74%);
  /* used for the background when selecting text */
  --selection: hsla(331, 17%, 64%, 0.35);

  --control: url("/public/noise.png") hsla(240, 3%, 32%, 0.5);
  --control-hover: url("/public/noise.png") hsla(240, 3%, 38%, 0.5);

  /* states */
  --state-current: url("/public/noise.png") hsla(240, 2%, 100%, 0.075);
  --state-active: url("/public/noise.png") hsla(240, 2%, 100%, 0.15);

  --hero-high: hsl(330, 33%, 38%);
  --hero-low: hsl(330, 33%, 15%);

  --transition-bezier: 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
  --transition-smooth: cubic-bezier(0.79, 0.33, 0.56, 0.64);
  --breathing-space: 1rem;
  --viewport: 1024px;
  color-scheme: dark;
}

.purple {
  /* the background used behind the main site */
  --background: url("/public/noise.png") hsl(290, 9%, 8%);
  /* the background used for the main site's content */
  --main-background: url("/public/noise.png") hsl(290, 10%, 14%);
  /* used for static borders */
  --stroke: hsla(290, 4%, 100%, 0.15);
  /* used for cards and other main elements that sit on top of the main content*/
  --container: url("/public/noise.png") hsl(290, 10%, 19%);
  /* used for elements that sit on top of other containers */
  --container-high: url("/public/noise.png") hsla(290, 10%, 30%, 0.5);
  /* used for transparent background, should be used with backdrop-filter: blur; */
  --container-trans: url("/public/noise.png") hsla(290, 9%, 14%, 0.6);
  /* used for most text */
  --foreground: hsl(290, 4%, 86%);
  /* headings, bold text, and controls */
  --foreground-strong: hsl(290, 6%, 98%);
  /* used for text with less significance */
  --foreground-muted: hsl(290, 4%, 70%);
  /* used for primary controls and links */
  --primary: hsl(290, 62%, 74%);
  /* used for the background when selecting text */
  --selection: hsla(290, 20%, 64%, 0.35);

  /* states */
  --state-current: url("/public/noise.png") hsla(290, 2%, 100%, 0.075);
  --state-active: url("/public/noise.png") hsla(290, 2%, 100%, 0.15);

  --hero-high: hsl(290, 33%, 38%);
  --hero-low: hsl(290, 33%, 15%);

  --control: url("/public/noise.png") hsla(290, 5%, 32%, 0.5);
  --control-hover: url("/public/noise.png") hsla(290, 5%, 38%, 0.5);
}

.green-man {
  /* the background used behind the main site */
  --background: url("/public/noise.png") hsl(85, 60%, 7%);
  /* the background used for the main site's content */
  --main-background: url("/public/noise.png") hsl(85, 60%, 12%);
  /* used for static borders */
  --stroke: hsla(85, 4%, 100%, 0.15);
  /* used for cards and other main elements that sit on top of the main content*/
  --container: url("/public/noise.png") hsl(85, 70%, 15%);
  /* used for elements that sit on top of other containers */
  --container-high: url("/public/noise.png") hsla(85, 10%, 30%, 0.5);
  /* used for transparent background, should be used with backdrop-filter: blur; */
  --container-trans: url("/public/noise.png") hsla(85, 60%, 12%, 0.6);
  /* used for most text */
  --foreground: hsl(85, 12%, 86%);
  /* headings, bold text, and controls */
  --foreground-strong: hsl(85, 12%, 98%);
  /* used for text with less significance */
  --foreground-muted: hsl(85, 8%, 70%);
  /* used for primary controls and links */
  --primary: hsl(85, 62%, 74%);
  /* used for the background when selecting text */
  --selection: hsla(85, 20%, 64%, 0.35);


  /* states */
  --state-current: url("/public/noise.png") hsla(85, 4%, 100%, 0.075);
  --state-active: url("/public/noise.png") hsla(85, 4%, 100%, 0.15);

  --hero-high: hsl(85, 33%, 38%);
  --hero-low: hsl(85, 33%, 15%);

  --control: url("/public/noise.png") hsla(85, 12%, 32%, 0.5);
  --control-hover: url("/public/noise.png") hsla(85, 12%, 38%, 0.5);
}

.ocean {
  /* the background used behind the main site */
  --background: url("/public/noise.png") hsl(218, 13%, 8%);
  /* the background used for the main site's content */
  --main-background: url("/public/noise.png") hsl(218, 13%, 14%);
  /* used for static borders */
  --stroke: hsla(218, 4%, 100%, 0.15);
  /* used for cards and other main elements that sit on top of the main content*/
  --container: url("/public/noise.png") hsl(218, 14%, 19%);
  /* used for elements that sit on top of other containers */
  --container-high: url("/public/noise.png") hsla(218, 11%, 30%, 0.5);
  /* used for transparent background, should be used with backdrop-filter: blur; */
  --container-trans: url("/public/noise.png") hsla(218, 10%, 14%, 0.6);
  /* used for most text */
  --foreground: hsl(218, 10%, 86%);
  /* headings, bold text, and controls */
  --foreground-strong: hsl(218, 12%, 98%);
  /* used for text with less significance */
  --foreground-muted: hsl(218, 8%, 70%);
  /* used for primary controls and links */
  --primary: hsl(218, 62%, 74%);
  /* used for the background when selecting text */
  --selection: hsla(218, 20%, 64%, 0.35);

  /* states */
  --state-current: url("/public/noise.png") hsla(218, 6%, 100%, 0.075);
  --state-active: url("/public/noise.png") hsla(218, 6%, 100%, 0.15);

  --hero-high: hsl(218, 33%, 38%);
  --hero-low: hsl(218, 33%, 15%);

  --control: url("/public/noise.png") hsla(218, 5%, 32%, 0.5);
  --control-hover: url("/public/noise.png") hsla(218, 5%, 38%, 0.5);
}

.neue {
  /* the background used behind the main site */
  --background: url("/public/noise.png") hsl(0, 0%, 2%);
  /* the background used for the main site's content */
  --main-background: url("/public/noise.png") hsl(0, 0%, 7%);
  /* used for static borders */
  --stroke: hsla(0, 0%, 100%, 0.15);
  /* used for cards and other main elements that sit on top of the main content*/
  --container: url("/public/noise.png") hsl(0, 0%, 11%);
  /* used for elements that sit on top of other containers */
  --container-high: url("/public/noise.png") hsla(0, 0%, 20%, 0.5);
  /* used for transparent background, should be used with backdrop-filter: blur; */
  --container-trans: url("/public/noise.png") hsla(0, 0%, 7%, 0.6);
  /* used for most text */
  --foreground: hsl(0, 0%, 86%);
  /* headings, bold text, and controls */
  --foreground-strong: hsl(0, 0%, 98%);
  /* used for text with less significance */
  --foreground-muted: hsl(0, 0%, 70%);
  /* used for primary controls and links */
  --primary: hsl(198, 40%, 79%);
  /* used for the background when selecting text */
  --selection: hsla(0, 0%, 64%, 0.35);

  /* states */
  --state-current: url("/public/noise.png") hsla(0, 0%, 100%, 0.075);
  --state-active: url("/public/noise.png") hsla(0, 0%, 100%, 0.15);

  --hero-high: hsl(0, 0%, 30%);
  --hero-low: hsl(0, 0%, 9%);

  --control: url("/public/noise.png") hsla(0, 0%, 32%, 0.5);
  --control-hover: url("/public/noise.png") hsla(0, 0%, 38%, 0.5);
}