{% set navigation = collections.all | eleventyNavigation -%}

{%- set categories = [] -%}
{%- for item in navigation -%}
  {%- if item.key != "Home" -%}
    {%- if item.children.length -%}
      {%- set categories = categories.concat([item]) -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{% macro navlink(item) %}
  <li>
    <a href="{{ item.url }}" aria-label="Navigate to the {{item.title}} page in the {{ item.category }} category" {% if page.url === item.url %}aria-current="page"{% endif %}>
      <span class="link-header">
        {%- if item.data.icon -%}
          <img src="/public/icons/{{item.data.icon}}.png" alt="" aria-hidden="true" class="icon" >
        {%- endif -%}
        {%- if item.data.isInConstruction -%}
          <i>{{ item.title }}</i>
        {%- else -%}
          {{item.title}}
        {%- endif -%}
        {%- if item.data.isRefresh == true -%}
          <img src="/public/icons/farm-new.png" alt="" aria-hidden="hidden" class="icon" style="--icon-size:18px;align-self:flex-start;">
        {% elif item.children %}
          {% for page in item.children %}
            {% if page.data.isRefresh %}
              <img src="/public/icons/farm-new.png" alt="" aria-hidden="hidden" class="icon" style="--icon-size:18px;align-self:flex-start;">
            {% endif %}
          {% endfor %}
        {%- endif -%}
      </span>
      <p>{{item.data.description}}</p>
    </a>
  </li>
{% endmacro %}

<nav class="navbar main-nav" aria-label="ReduxFlakes Main Navigation">
  {%- for entry in categories -%}

    <details id="cat-{{entry.key | slugify}}" class="nav-details">
      <summary aria-controls="nav-{{entry.key | slugify }}"  {% if entry.key === parent or entry.key === title %}aria-current="true"{% endif %}>
        {% if entry.icon -%}
          <img src="/public/icons/{{entry.icon}}.png" alt="" aria-hidden="true" class="icon" >
        {%- elif entry.data.icon -%}
          <img src="/public/icons/{{entry.data.icon}}.png" alt="" aria-hidden="true" class="icon" >
        {%- endif -%}
        <span>{{ entry.title }}
          {% set navIsRefresh = false %}
          {% for item in entry.children %}
            {% if entry.data.isRefresh or item.data.isRefresh %}
              {% set navIsRefresh = true %}
            {% endif %}
          {% endfor %}
          {%- if navIsRefresh -%}
            <sup style="display:inline"><img src="/public/icons/farm-new.png" alt="" aria-visibility="hidden" class="icon" style="--icon-size:18px;align-self:flex-start;"></sup>
          {%- endif -%}
        </span>
      </summary>
      <section class="stack" style="--spacer:0.5em;">
        <h2 style="font-size:1.25rem;">{{entry.data.title}}</h2>
        <p>{{entry.data.description}}</p>
        <hr>
        <ul id="nav-{{entry.key | slugify }}" aria-label="{{entry.title}} submenu" class="navbar-list">
          {# show category link if the same has a url/permalink enabled #}
          {% if entry.url -%}
            {{navlink(entry)}}
          {%- endif -%}
          {% if entry.children %}
            {%- for item in entry.children -%}
              {%- if item.url -%}
                {{navlink(item)}}
              {%- endif -%}
            {%- endfor -%}
          {% endif %}
      </ul>
      {%- set constructionEnabled = false -%}
      {%- for item in entry.children -%}
        {%- if (entry.data.isInConstruction or item.data.isInConstruction) and (entry.url != "" or item.url != "") and constructionEnabled != true -%}
          {% set constructionEnabled = true-%}
          <p>
            <small>Pages with <i>italicized</i> titles are still under construction.</small>
          </p>
        {%- endif -%}
      {%- endfor -%}
    </section>
  </details>
{%- endfor -%}
</nav>