*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  color-scheme: dark;
}

html {
  font: 1.05rem / 1.45 var(--font);
  letter-spacing: -.01em;
  background: url("/public/bg.png");
  color: var(--foreground);
}

body {
  background: var(--background);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
}

dl dd:not(:last-child) {
  margin-bottom: 0.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

:focus {
  outline: 2px solid var(--foreground);
}

ul[role="list"],
ol[role="list"] {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul[role="list"] li + li::before  {
  content: "\02022";
  margin-inline: 0.35em 0.35em;
}


ul,ol {
  padding: 0 2rem;
}


img,
picture,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

iframe {
  border: 0;
}

input,
button,
summary {
  font: inherit;
  background: none;
  border: none;
}

summary {
  cursor: default;
}

::selection,
h1:target,
h2:target,
h3:target {
  background: hsla(313, 100%, 75%, 0.25);
  color: rgb(255, 157, 183);
}

img::selection {
  background: hsla(279, 100%, 75%, 0.25);
}

a {
  color: var(--primary);
  text-decoration: underline 2px;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  line-height: 1.2em;
}

.anchor {
  visibility: hidden;
  font-weight: normal;
  opacity: 0;
}

h1:hover > .anchor,
h2:hover > .anchor,
h3:hover > .anchor {
  visibility: visible;
  opacity: 1;
}

.acs-skip {
  position: absolute;
  top: -100px;
  background: var(--container);
}

.acs-skip:focus,
.acs-skip:focus-within {
  top: 0.25em;
  left: 0.25em;
}

.stack > * + * {
  --_space: var(--spacer, 1em);
  margin-top: var(--_space);
}

img {
  display: block;
  max-width: 100%;
}

main {
  hyphens: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--stroke);
}

blockquote {
  padding: 0.5rem 1rem;
  background: var(--container);
  font-style: italic;
  border-left: 0.25em solid var(--primary);
}

small {
color: var(--foreground-subtle);
}

aside{
  border-radius: 3px;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.3));
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-overflow {
  overflow: auto;
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--container);
  }

td, th {
  border: 1px solid var(--stroke);
  text-align: left;
  padding: 0.4rem var(--breathing-space);
}

tr:hover {
 background: var(--container);
}

tr:target {
  background: #421b2773;
  border: 4px solid #FE618E;
}

textarea {
  background: var(--container);
  color: var(--foreground);
  border-color: var(--stroke);
  
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}