*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  color-scheme: dark;
}

body {
  font: 1.2rem / 1.65 var(--font);
  background: var(--background);
  color: var(--foreground);
}

dl dd:not(:last-child) {
  margin-bottom: 0.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

:focus {
  outline: 2px solid var(--foreground);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

iframe {
  border: 0;
}

input,
button,
summary {
  font: inherit;
  background: none;
  border: none;
}

summary {
  cursor: default;
}

details[open] summary {
  margin-bottom: 1rem;
}

::selection,
h1:target,
h2:target,
h3:target {
  background: hsla(15, 31%, 20%, 0.5);
  color: var(--primary);
}

img::selection {
  background: hsla(279, 100%, 75%, 0.25);
}

a {
  color: var(--primary);
  text-decoration: underline 2px;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.01em;
  line-height: 1.2em;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.anchor {
  visibility: hidden;
  font-weight: normal;
  opacity: 0;
}

h1:hover > .anchor,
h2:hover > .anchor,
h3:hover > .anchor {
  visibility: visible;
  opacity: 1;
}

.acs-skip {
  position: absolute;
  top: -100px;
  background: var(--container);
}

.acs-skip:focus,
.acs-skip:focus-within {
  top: 0.25em;
  left: 0.25em;
}

.stack > * + * {
  --_space: var(--spacer, 1em);
  margin-top: var(--_space);
}

main {
  hyphens: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--stroke);
}

blockquote {
  padding: 0.5rem 1rem;
  background: var(--container);
  font-style: italic;
  border-left: 0.25em solid var(--primary);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
