*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  color-scheme: dark;
}

body {
  font: 1.15rem / 1.65 var(--font);
  background: var(--background);
  color: var(--foreground);
}

:focus {
  box-shadow: 0 0 0 4px var(--primary);
  outline: 2px solid var(--foreground);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

iframe {
  border: 0;
}

input,
button {
  font: inherit;
}
button,
summary {
  cursor: pointer;
  background: none;
  border: none;
}

::selection,
h1:target,
h2:target,
h3:target {
  background: hsla(343, 100%, 75%, 0.08);
  color: var(--primary);
}

img::selection {
  background: hsla(265, 100%, 75%, 0.25);
}

a {
  color: var(--primary);
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  letter-spacing: -0.0125em;
  line-height: 1.2em;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.header-anchor {
  visibility: hidden;
  font-weight: normal;
  opacity: 0;
}

h1:hover > .header-anchor,
h2:hover > .header-anchor,
h3:hover > .header-anchor {
  visibility: visible;
  opacity: 1;
}

.acs-skip {
  position: absolute;
  top: -100px;
  background: black;
}

.acs-skip:focus,
.acs-skip:focus-visible,
.acs-skip:focus-within {
  top: 0.25em;
  left: 0.25em;
}

.stack > * + * {
  --_space: var(--spacer, 1em);
  margin-top: var(--_space);
}

time {
  color: var(--foreground-subtle);
}

hr {
  border: none;
  border-top: 1px solid var(--stroke);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
