@import url("base.css");
@import url("ui.css");
@import url(icons.css);

.wrapper {
  --content-aside: 15.5rem;
  --highway-aside: 17.5rem;
  max-width: var(--viewport);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: var(--highway-aside) 1fr var(--content-aside);
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas:
    "navigator navigator navigator"
    "highway header header"
    "highway fancy-bar fancy-bar"
    "highway content aside"
    "footer footer footer";
  background: var(--background);
  border: 1px solid var(--stroke);
}

.main-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background: linear-gradient(
    90deg,
    #330f27 0%,
    #330f15 10%,
    #331c0f 20%,
    #332c0f 30%,
    #2b330f 40%,
    #21330f 50%,
    #15330f 60%,
    #0f3316 70%,
    #0f3322 80%,
    #0f3331 90%,
    #0f2033 100%
  );
  border-bottom: 1px solid var(--stroke);
}

.main-header h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  text-transform: lowercase;
  background: linear-gradient(90deg, #b8ea92 0%, #b2eea6 52%, #8ef5d4 100%);
  color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-header p {
  text-transform: lowercase;
  font-size: 1.1rem;
  letter-spacing: -0.025em;
  color: hsla(101, 100%, 87%, 0.85);
}

.color-bar {
  grid-area: fancy-bar;
  border-bottom: 1px solid var(--stroke);
  overflow: hidden;
}

.color-bar .marquee3k__wrapper {
  display: flex;
}

.color-bar .marquee3k__copy {
  display: flex !important;
}

.highway {
  grid-area: highway;
  border-right: 1px solid var(--stroke);
}

.aside {
  grid-area: aside;
  border-left: 1px solid var(--stroke);
}

main {
  grid-area: content;
  border-bottom: 1px solid var(--stroke);
}

main > article {
  padding: 1rem;
}

.aside {
  grid-area: aside;
}

.main-footer {
  grid-area: footer;
}

button,
.button {
  display: block;
  width: fit-content;
  text-align: left;
  background: rgb(175, 175, 175);
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf, 1px 1px 0.5px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  font-family: monospace;
  letter-spacing: -0.5px;
  font-size: 14px;
  padding: 0.25em 0.75em;
  text-shadow: 0 0 #222;
}

button:focus,
.button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

button:active,
.button:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #222;
}

.grayscale {
  filter: grayscale(1);
}

.grayscale:hover {
  animation: graycrt 4s;
  animation-fill-mode: forwards;
}

@keyframes graycrt {
  5% {
    filter: grayscale(0);
  }
  10% {
    filter: grayscale(1);
  }
  15% {
    filter: grayscale(0);
  }
  20% {
    filter: grayscale(1);
  }
  22% {
    filter: grayscale(0);
  }
  25% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}
