@import url("base.css");

.wrapper {
  --sidebar-width: 14rem;
  max-width: var(--viewport);
  margin: 0 auto;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr var(--sidebar-width);
  grid-template-areas:
    "toolbar toolbar"
    "content aside"
    "footer footer";
  padding-block-end: 1rem;
}

.toolbar {
  display: flex;
  background: rgb(26, 43, 81);
  grid-area: toolbar;
  padding: 0.25rem 0.5rem;
  font-size: 0.9em;
  border-radius: 0 0 8px 8px;
}

.toolbar-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.toolbar .dropdown {
  margin-left: auto;
}

.dropdown {
  position: relative;
  user-select: none;
}

.dropdown .dropdown-content {
  position: absolute;
  content: "";
  right: 0;
  top: 2rem;
  background: rgb(40, 40, 40);
  max-width: 200px;
  box-shadow: 0px 0px 2px 0px black;
}

.dropdown nav a {
  padding: 0 0.5em;
}

.toolbar-link img {
  width: 16px;
  height: 16px;
  image-rendering: pixelated;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.25) 30%
    ),
    url("/public/img/header_bkg.png");
  background-size: cover;
  background-position: center;
  padding: 1rem;
  min-height: 100px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.main-header h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: white;
}

.aside,
main {
  background: var(--container);
}

.aside {
  grid-area: aside;
  border-radius: 6px;
  padding: 0.5rem;
}

main {
  grid-area: content;
  border-radius: 8px;
  overflow: hidden;
}

main > article {
  padding: 1rem;
}

.main-footer {
  grid-area: footer;
  background: rgb(0, 0, 0);
  border-radius: 6px;
  text-align: center;
  padding: 0.5rem 1rem;
}

.grayscale {
  filter: grayscale(1);
}

.grayscale:hover {
  animation: graycrt 4s;
  animation-fill-mode: forwards;
}

@keyframes graycrt {
  5% {
    filter: grayscale(0);
  }
  10% {
    filter: grayscale(1);
  }
  15% {
    filter: grayscale(0);
  }
  20% {
    filter: grayscale(1);
  }
  22% {
    filter: grayscale(0);
  }
  25% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}

button,
.button {
  display: block;
  width: fit-content;
  text-align: left;
  background: rgb(175, 175, 175);
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf, 1px 1px 0.5px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  font-family: monospace;
  letter-spacing: -0.5px;
  font-size: 14px;
  padding: 0.25em 0.75em;
  text-shadow: 0 0 #222;
}

button:focus,
.button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

button:active,
.button:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #222;
}
