@import url("base.css");
@import url("ui.css");

.wrapper {
  --sidebar-width: 14rem;
  max-width: var(--viewport);
  margin: 0 auto;
  display: grid;
  gap: 0.5em;
  grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
  grid-template-areas:
    "navigator navigator navigator"
    "highway header header"
    "highway content aside"
    "footer footer aside";
  padding-block-end: 1rem;
}

.main-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0.25) 30%
    ),
    url("/public/img/header_bkg.png");
  background-size: cover;
  background-position: center;
  padding: 1rem;
  min-height: 100px;
  border-radius: var(--rad) var(--rad) 0 0;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 0px 1px 0px white;
}

.highway {
  grid-area: highway;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/347b1ddd-5231-4d82-8550-1fd0f0dc4afb/d4gb21a-c006c4d4-f163-498a-b7f2-04ce07046981.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM0N2IxZGRkLTUyMzEtNGQ4Mi04NTUwLTFmZDBmMGRjNGFmYlwvZDRnYjIxYS1jMDA2YzRkNC1mMTYzLTQ5OGEtYjdmMi0wNGNlMDcwNDY5ODEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.O8obUNm8I5_W5AjJ0HbKhr0a5tCgwgyrFTRfGdgGj9c");
  background-size: cover;
  background-position: 49%;
  padding: 0.5rem;
}

.main-header h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: white;
}

.aside {
  background: var(--container);
}

.aside {
  grid-area: aside;
  border-radius: var(--rad);
  padding: 0.5rem;
  font-size: 0.9em;
}

main {
  grid-area: content;
  border-radius: var(--rad);
  background: rgba(38, 38, 38, 0.75);
  backdrop-filter: blur(4px);
}

main > article {
  padding: 1rem;
}

.main-footer {
  grid-area: footer;
  text-align: center;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.35);
  background: rgb(40, 20, 33);
  font-size: 0.9em;
}

.grayscale {
  filter: grayscale(1);
}

.grayscale:hover {
  animation: graycrt 4s;
  animation-fill-mode: forwards;
}

@keyframes graycrt {
  5% {
    filter: grayscale(0);
  }
  10% {
    filter: grayscale(1);
  }
  15% {
    filter: grayscale(0);
  }
  20% {
    filter: grayscale(1);
  }
  22% {
    filter: grayscale(0);
  }
  25% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}

button,
.button {
  display: block;
  width: fit-content;
  text-align: left;
  background: rgb(175, 175, 175);
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf, 1px 1px 0.5px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: transparent;
  font-family: monospace;
  letter-spacing: -0.5px;
  font-size: 14px;
  padding: 0.25em 0.75em;
  text-shadow: 0 0 #222;
}

button:focus,
.button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
}

button:active,
.button:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
  text-shadow: 1px 1px #222;
}
