input#toc-toggle:not(:checked) ~ #toc {
    display: none;
}
/* hide/show label content with ::after */
label[data-toggle-label]::after {
    content: "Hide TOC";
}
  
input#toc-toggle:not(:checked) + label[data-toggle-label]::after {
    content: "Show TOC";
}

