:root {
  --font: "Geist", system-ui, Arial, sans-serif;
  --background: hsl(344, 2%, 10%);
  --primary: hsl(344, 100%, 82%);
  --foreground: hsl(344, 64%, 92%);
  --foreground-secondary: hsl(344, 24%, 72%);
  --stroke: hsl(344, 4%, 28%);
  --transition-bezier: 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
  --content-vw: 73ch;
  --sidebar-size: 320px;
  color-scheme: dark;
}