/* themes */
:root {
  --font: "Geist", system-ui, sans-serif;
  --background: hsl(338, 21%, 15%);
  --container: hsl(338, 16%, 23%);
  --container-low: hsl(338, 23%, 9%);
  --foreground: hsl(338, 64%, 88%);
  --primary: hsl(338, 92%, 80%);
  --foreground-subtle: hsl(338, 13%, 61%);
  --stroke: hsl(338, 13%, 31%);
  --warning: hsl(27, 71%, 70%);
  --warning-container: hsl(22, 70%, 14%);
  --transition-bezier: 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
  --breathing-space: 1rem;
  --radius: 0.3rem;
  --viewport: 980px;
  color-scheme: dark;
}

.forest {
  --background: hsl(105, 21%, 15%);
  --container: hsl(105, 16%, 23%);
  --container-low: hsl(105, 23%, 9%);
  --foreground: hsl(105, 64%, 88%);
  --primary: hsl(105, 92%, 80%);
  --foreground-subtle: hsl(105, 13%, 61%);
  --stroke: hsl(105, 13%, 31%);
  --warning: hsl(47, 71%, 70%);
  --warning-container: hsl(47, 70%, 14%);
  color-scheme: dark;
}

.ocean {
  --background: hsl(218, 21%, 15%);
  --container: hsl(218, 16%, 23%);
  --container-low: hsl(218, 23%, 9%);
  --foreground: hsl(218, 64%, 88%);
  --primary: hsl(218, 92%, 80%);
  --foreground-subtle: hsl(218, 13%, 61%);
  --stroke: hsl(218, 13%, 31%);
  --warning: hsl(43, 71%, 70%);
  --warning-container: hsl(43, 70%, 14%);
  color-scheme: dark;
}

.midnight {
  --background: hsl(0, 0%, 13%);
  --container: hsl(0, 0%, 23%);
  --container-low: hsl(0, 0%, 9%);
  --foreground: hsl(0, 0%, 88%);
  --primary: hsl(206, 24%, 75%);
  --foreground-subtle: hsl(0, 0%, 61%);
  --stroke: hsl(0, 0%, 31%);
  --warning: hsl(18, 44%, 64%);
  --warning-container: hsl(18, 18%, 14%);
  color-scheme: dark;
}