@media (min-width: 1050px) {
  .wrapper {
    --content-aside: 16.5rem;
    --highway-aside: 17.5rem;
    max-width: var(--viewport);
    display: grid;
    grid-template-columns: var(--highway-aside) 1fr var(--content-aside);
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
      "navigator navigator navigator"
      "highway header header"
      "highway fancy-bar fancy-bar"
      "highway content aside"
      "footer footer footer";
  }
  .highway {
    display: block;
  }
  .highway .aside-card {
    flex: none;
  }
}

@media (min-width: 820px) {
  .highway {
    border-right: 1px solid var(--stroke);
  }
  .aside {
    border-left: 1px solid var(--stroke);
  }
}

@media (min-width: 720px) {
  body {
    padding-inline: 1rem;
  }
  .wrapper {
    margin: 1rem auto;
    border: 1px solid var(--stroke);
  }
}

@media (max-width: 720px) {
  .highway {
    border-right: 0;
  }
  .aside {
    border-right: 0;
  }
}

@media (min-width: 650px) {
  .navigator {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .navigator .brand {
    border-bottom: 0;
    border-right: 1px solid var(--stroke);
  }
  .navigator .navigator-nav {
    min-width: 500px;
  }
  .navigator-nav a {
    padding-block: 0;
  }
}
