body {
  max-width: var(--viewport);
  padding: 1rem;
  margin-inline: auto;
}

header.page {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  margin-block-start: 0;
}

nav.page a {
  color: var(--foreground);
}

nav.page a[aria-current="true"] {
  text-decoration: underline dotted;
  font-style: italic;
  color: var(--foreground-subtle);
}

figure img {
  width: 100%;
  image-rendering: pixelated;
  border: 1px solid var(--stroke);
}

figcaption {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  color: var(--foreground-subtle);
}

header.main {
  border-bottom: 1px dashed var(--stroke);
}

a:has(svg) {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

a:has(svg) svg {
  width: 1.2rem;
  height: 1.2rem;
}

footer.page {
  margin-block-start: 1rem;
  padding-block-start: 1rem;
  border-top: 1px dashed var(--stroke);
}

details {
  border: 1px solid var(--stroke);
}

details summary {
  padding: 0.25rem 0.5rem;
}

details summary:has(h2) h2 {
  display: inline-block;
  font-size: inherit;
}

details[open] .details-child {
  padding: 0 1rem 1rem;
}
/* util classes */
.auto-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
