@import url(properties.css);
@import url(player.css);

body {
  max-width: var(--viewport);
  outline: 1px solid var(--stroke);
  margin-inline: auto;
  background: var(--background);
}

input[type="checkbox"] {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--container-low);
  margin: 0;
  font: inherit;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--stroke);
  border-radius: 0;
}


input[type="checkbox"]::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background: var(--primary);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

select {
  border: 1px solid var(--stroke);
  border-radius: 0;
  padding: 0.25rem;
  background: var(--container-low);
  color: var(--foreground);
  font: inherit;
  font-size: 0.8em;
}

/* start:toolbar */

.toolbar {
  display: flex;
  justify-content: space-between;
  background: var(--container-low);
  border-bottom: 1px solid var(--stroke);
}

.toolbar a {
  align-self: stretch;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.4rem var(--breathing-space);
  font-size: 0.9em;
  text-decoration: none;
  color: var(--foreground);
}

.toolbar a:hover {
  background: var(--container);
}

/* end:toolbar */

/* start:menu */
.navbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: stretch;
}

.navbar>details {
  flex: 1 1 auto;
}

.navbar details.nav-details summary {
  user-select: none;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  /* for touch */
  height: 48px;
  align-items: center;
  padding: 0.5rem var(--breathing-space);
  flex-shrink: 0;
}

.navbar details summary {
  flex-basis: 100%;
  transition: 125ms all ease-out;
  border-bottom: 1px solid var(--stroke);
}

.navbar details summary[aria-current] {
  color: var(--primary);
  background: var(--container);
}

.navbar:has(details[open]) details:not([open])>summary:not(:hover) {
  opacity: 0.7;
}

.navbar details[open] summary {
  margin: 0;
  opacity: 1;
  outline: 1px dashed var(--stroke);
  border-color: var(--primary);
  background: var(--container);
}


.navbar details section {
  overflow: hidden;
}

.navbar details summary:hover {
  outline: 1px dashed var(--stroke);
  background: rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.navbar:has(summary:hover) summary:not(:hover) {
  opacity: 0.7;
}

.navbar details[open] section {
  position: absolute;
  width: calc(100% - 2rem);
  left: 0;
  right: 0;
  margin: 1rem;
  background: var(--container-low);
  border: 1px solid var(--stroke);
  border-radius: var(--radius);
  padding: var(--breathing-space);
  box-shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.25);
  z-index: 10;
}

.navbar hr {
  margin: 1rem 0;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.navbar .navbar-list li a {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--foreground);
  border-left: 1px solid var(--stroke);
  border-right: 1px solid var(--stroke);
  border-bottom: 1px solid var(--stroke);
  padding: 0.75rem;
  text-decoration: none;
  transition: background 125ms ease-in-out;
}

.navbar .navbar-list li a[aria-current] {
  background: var(--background);
}

.navbar .navbar-list li a[aria-current] p {
  color: var(--foreground);
}

.navbar .navbar-list :first-child a {
  border-top: 1px solid var(--stroke);
  border-top-left-radius: calc(var(--radius) / 2);
  border-top-right-radius: calc(var(--radius) / 2);
}

.navbar .navbar-list :last-child a {
  border-bottom-left-radius: calc(var(--radius) / 2);
  border-bottom-right-radius: calc(var(--radius) / 2);
}

.navbar .navbar-list li a:hover {
  background: var(--container);
}

.navbar-list a:hover img {
  transition: scale var(--transition-bezier);
}

.navbar-list a:not(:hover) img {
  transition: scale var(--transition-bezier);
}

.navbar-list a:hover img {
  scale: 1.25;
}

.navbar-list .link-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.navbar-list .link-header img.icon {
  width: 1.25em;
  height: 1.25em;
}

.navbar-list .link-header {
  font-size: 1.025rem;
  color: var(--primary);

}

.navbar-list p {
  font-size: 0.95rem;
  color: var(--foreground-subtle);
}

/* end:menu */

/* start:hero */

.hero {
  padding: calc(var(--breathing-space) * 2) var(--breathing-space);
  border-bottom: 1px solid var(--stroke);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero p:not(.hero-meta p) {
  font-size: 1.15rem;
}

.hero-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.hero-meta p {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.hero-meta p svg {
  width: 1em;
  height: 1em;
}

/* end:hero */

/* main components */
main {
  padding: var(--breathing-space);
  min-height: 20rem;

}

main.home,
main.has-aside {
  padding: 0;
  max-width: none;
}

main.home article,
main.has-aside>article {
  padding: var(--breathing-space);
}

main.has-aside>nav.breadcrumb {
  grid-area: breadcrumb;
  padding: var(--breathing-space) var(--breathing-space) 0 var(--breathing-space);
}

nav.breadcrumb {
  padding-bottom: var(--breathing-space);
}

nav.breadcrumb ol {
  display: flex;
  list-style: none;
  padding: 0;
}

nav.breadcrumb li+li::before {
  display: inline-block;
  margin-inline: 0.5em 0.25em;
  content: "-";
}


/* desktop only */
@media (min-width: 48rem) {
  main.has-aside {
    display: grid;
    grid-template-columns: 1fr 18rem;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "breadcrumb aside"
      "article aside";
  }

  main.home {
    grid-template-rows: 1fr;
    grid-template-areas: "article aside";
  }

  main>article {
    max-width: 42rem;
    margin: 0 auto;
  }


  main.home article,
  main.has-aside article {
    grid-area: article;
    padding: var(--breathing-space);
  }

  aside.page-aside {
    grid-area: aside;
    border-left: 1px solid var(--stroke);

  }
}


/* mobile only */
@media (max-width: 48rem) {
  main.has-aside aside {
    border-top: 1px solid var(--stroke);

  }
}

@media (max-width: 34rem) {
  .mobile {
    display: none;
  }
}

.main-footer {
  border-top: 1px dashed var(--stroke);
  padding: 1rem;
}

/* sidebar */

.aside-block {
  border-bottom: 1px solid var(--stroke);
  padding: var(--breathing-space);
}

.aside-block>*+* {
  margin-top: 0.5rem;
}

.aside-block h2,
.aside-block h3 {
  font-weight: 200;
}

.lastfm-widget img {
  margin: 1rem auto;
  border: 1px solid var(--foreground);
}

.lastfm-widget h2 span#loadingStatus {
  width: 0.8em;
  height: 0.8em;
  background: var(--container-low);
}

/* components */

.card {
  outline: 1px solid transparent;
  border: 1px solid var(--stroke);
  border-radius: var(--radius);
  padding: var(--breathing-space);
  transition: 150ms ease-in-out all;
}

.card:hover,
.button:hover {
  outline: 1px solid var(--stroke);
  outline-offset: -0.25rem;
}

.label {
  display: inline-block;
  padding: 0.5em 0.9em;
  line-height: 1;
  background: var(--container-low);
  color: var(--foreground);
  text-decoration: none;
  border-radius: 24px;
  font-size: 0.9rem;
  font-weight: normal;
  transition: var(--transition-bezier);
}

a.label:hover {
  outline: 1px solid var(--stroke);
  background: var(--container);
}

.notice {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 0.5em;
  padding: 0.5rem var(--breathing-space);
}

.notice picture {
  flex-shrink: 0;
}

.notice--warning {
  color: var(--warning);
  border: 1px solid var(--warning);
  background: var(--warning-container);
  box-shadow: 0px 0px 2px 0px var(--warning);
  border-radius: var(--radius);
}

.secondary {
  color: var(--foreground-subtle);
  font-size: 1em;
}

/* layout utils */

.flex-h {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.auto-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.auto-grid {
  --_minsize: var(--size, 100px);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--_minsize), 1fr));
}

.signature {
  transition: all 1.5s cubic-bezier(.18, .91, .66, .8);
}

.signature:hover {
  scale: 1.2;
  rotate: 360deg;
}

/* legacy code */

.icon {
  --_size: var(--icon-size, 24px);
  width: var(--_size);
  height: var(--_size);

}

a:has(svg) {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

*[title] {
  text-decoration: underline dotted;
}

/* from daudix (https://daudix.one/home/#badges) */
.button-grid .btn {
  transition: all 0.2s, transform var(--transition-bezier);
  image-rendering: pixelated;
}

.button-grid .btn:hover {
  transform: scale(1.25);
  rotate: -8deg;
  z-index: 2;
  background: transparent;
}

.button-grid :nth-child(even).btn:hover {
  rotate: 8deg;
}

/* from jb (jbcarreon123.nekoweb.org) */
.button-grid:has(.btn:hover) .btn:not(:hover) {
  filter: blur(2px) saturate(0);
  opacity: 0.25;
}

.scroll {
  max-height: 15rem;
  overflow: auto;
  border: 1px solid var(--stroke);
  padding: 1rem;
}

webring-container {
  display: block;
  width: 100%;
  height: max-content;
}

.gaming-shelf a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s, transform var(--transition-bezier);
}

.gaming-shelf a::before {
  content: attr(data-name);
  position: absolute;
  bottom: 0;
  font-size: 1.3rem;
  background: linear-gradient(to bottom, transparent 0%, hsla(0, 0%, 0%, 0.3) 10%, black 100%);
  width: 100%;
  font-weight: 600;
  color: var(--foreground);
  padding: 0.5rem;
  opacity: 0%;
  visibility: hidden;
  transition: all .4s ease-in-out;

}

.gaming-shelf a:hover::before {
  opacity: 100%;
  visibility: visible;
}

.gaming-shelf a:hover {
  transform: scale(1.1);
  rotate: -2deg;
  z-index: 100;
}

.gaming-shelf a:nth-child(even):hover {
  rotate: 2deg;
}

.gaming-shelf:has(a:hover) a:not(:hover) {
  filter: blur(2px) saturate(0);
  opacity: 0.25;
}

.banner {
  margin: 0 auto;
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.5);
}

a:has(.classic-btn) {
  display: block;
}

.button--transparent {
  background: none;
  padding: 0.5rem;
}

.support-pal {
  background: rgb(59, 2, 2);
  font-weight: 500;
  font-size: 1.1em;
  justify-content: center;
}

.support-pal img {
  width: 32px;
  height: 32px;
}

.support-pal a {
  color: rgb(255, 191, 191);
  width: 100%;
  justify-content: center;
  text-align: center;
}

.support-pal a:hover {
  background: rgba(255, 163, 163, 0.1);
}