.navigator {
  grid-area: navigator;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid var(--stroke);
}

.navigator .brand {
  font-size: 1.35rem;
  color: white;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  border-right: 1px solid var(--stroke);
  background: var(--backdrop);
}

.navigator a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  min-height: 100%;
  padding-inline: 1em;
  color: var(--type-strong);
  text-decoration: none;
}

.navigator a:hover {
  background: var(--background-state);
}

/* components */
.aside-card {
  padding: 1rem;
  border-bottom: 1px solid var(--stroke);
}

.aside-card > * + * {
  margin-top: 0.5rem;
}

.aside-card h2 {
  font-weight: 500;
}

.icon-button {
  display: flex;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--stroke);
  text-decoration: none;
  color: var(--type-subtle);
}

.icon-button:hover {
  background: var(--background-state);
}

.experience-section {
  --spacer: 0.5em;
}

.experience-section a {
  display: block;
  width: 100%;
  border: 1px solid white;
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--text-strong);
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  background-size: cover;
  box-shadow: inset 0px 0px 4px 0px white;
  text-shadow: 0px 0px 8px black;
  transition: all 200ms cubic-bezier(0.28, 0.6, 0.82, 1);
}

.experience-section a:hover {
  filter: saturate(0);
  border-color: var(--primary);
  scale: 1.075;
}

.main-footer {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  border-radius: var(--rad);
}

.card-list {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.card-list-item {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.25);
  transition: 150ms ease-in-out all;
}

.card-list-item a {
  display: block;
  padding: 0.75rem;
  color: var(--text-strong);
  text-decoration: none;
}

.card-list-item:hover {
  border-color: var(--primary);
  background: rgba(0, 0, 0, 0.5);
}

.info-card {
  display: flex;
  gap: 0.5rem;
}

.classic-button {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}
