.navigator {
  grid-area: navigator;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--stroke);
}

.navigator .brand {
  font-size: 1.35rem;
  color: white;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  border-right: 1px solid var(--stroke);
  background: var(--backdrop);
}

.navigator-nav {
  display: flex;
  flex: 1;
  align-items: stretch;
  text-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  height: 100%;
  min-width: 500px;
}

.navigator-nav a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  height: 100%;
  padding-inline: 1em;
  color: var(--type-strong);
  text-decoration: none;
}
.navigator a:hover {
  background: var(--background-state);
}

/* components */
.showcase-card {
  border: 1px solid var(--stroke-strong);
}

.sc-heading {
  background: var(--type-strong);
  color: var(--backdrop);
  padding: 0.25em 0.5rem;
}

.showcase-card .content {
  padding: 0.5rem;
}

.aside-card {
  padding: 1rem;
  border-bottom: 1px solid var(--stroke);
}

.aside-card--expand {
  padding-inline: 0;
}

.aside-card--expand h2 {
  margin-left: 1rem;
}
/* only used when the aside card is using the expand modifier */
.aside-card-content {
  padding-inline: 1rem;
}

.aside-card > * + * {
  margin-top: 0.5rem;
}

.aside-card h2 {
  font-weight: 500;
}

.icon-button {
  display: flex;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--stroke);
  text-decoration: none;
  color: var(--type-subtle);
}

.icon-button:hover {
  background: var(--background-state);
}

.info-card {
  display: flex;
  gap: 0.5rem;
}

.icon-link {
  --_link-accent: var(--link-accent, var(--type-subtle));
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  color: var(--_link-accent);
  --base-color: var(--_link-accent);
}

.md-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 1rem;
  border-bottom: 1px solid var(--type-strong);
}

.card {
  display: block;
  padding: 0.75rem;
  border-right: 6px solid var(--border);
  text-decoration: none;
}

.card--breath {
  border: 0;
}

.card:hover {
  background: var(--background-state);
}

.aside-card--expand .card {
  padding: 0.25rem 1rem;
  margin-inline-end: 1rem;
}

.tabs-container {
  border: 1px solid white;
}

ul[data-tabs] {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabs-container ul[data-tabs] li {
  flex-grow: 1;
}

.tabs-container ul[data-tabs] li a {
  display: block;
  text-decoration: none;
  color: var(--type-subtle);
  border-bottom: 1px solid transparent;
  width: 100%;
  padding: 0.25rem 0.75rem;
}

.tabs-container ul[data-tabs] li a:hover {
  background: var(--background-state);
}

.tabs-container ul[data-tabs] li a[aria-selected="true"] {
  color: var(--type-strong);
  border-color: var(--stroke-strong);
}

.tabby-content[hidden="hidden"] {
  display: none;
}

.tabby-content {
  padding: 0.75rem;
}

.tabby-content--expand {
  border-top: 1px solid var(--stroke);
  padding: 0;
}

.tabby-content--expand .card:not(:last-child) {
  border-right: 1px solid var(--stroke);
}

.classic-button {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.classic-button:hover {
  scale: 1.05;
}

.game-card {
  position: relative;
  width: 150px;
  height: 225px;
  perspective: 1000px;
  z-index: 1;
  transition: 150ms all cubic-bezier(0.45, 0, 0.4, 1);
}

.game-card__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}

.game-card__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(
    226deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0.2) 42%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.game-card:hover .game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}

.game-card:hover .game-card__cover::after {
  transform: translateY(0%);
}

.game-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(#000000, 0.5);
  box-shadow: 0 6px 12px 12px rgba(#000000, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

.notice {
  --_nt-bg: var(--nt-bg, #0f5132);
  --_nt-clr: var(--nt-clr, hsl(152, 40%, 78%));
  --_nt-ic: var(--nt-ic, hsl(152, 55%, 48%));
  --base-color: var(--_nt-ic);
  --base-size: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5rem;
  background: var(--_nt-bg);
  color: var(--_nt-clr);
  border: 1px dotted var(--_nt-ic);
}

.notice > span {
  mask-repeat: no-repeat;
  flex-shrink: 0;
}

.notice--warning {
  --nt-bg: hsl(59, 69%, 19%);
  --nt-clr: hsl(59, 40%, 78%);
  --nt-ic: hsl(59, 55%, 48%);
}

.notice--error {
  --nt-bg: hsl(2, 69%, 19%);
  --nt-clr: hsl(2, 45%, 75%);
  --nt-ic: hsl(2, 55%, 55%);
}

.carbon-scroller {
  display: block;
  border: 1px solid var(--stroke-strong);
  padding: 1rem;
  max-height: 150px;
  overflow-y: auto;
}
