.navigator {
  grid-area: navigator;
  border: 1px solid gray;
  border-top: 0;
  background: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.navigator .brand {
  font-size: 1.25rem;
  color: white;
  background: rgb(69, 69, 69);
  padding-inline: 0.75rem;
  padding-block: 0.2rem;
}

.navigator a {
  display: flex;
  align-items: center;
  gap: 0.5em;
  min-height: 100%;
  padding-inline: 0.75em;
  transition: 150ms ease-in-out all;
  outline: 1px solid transparent;
}

.navigator a img {
  filter: saturate(0.5);
  transition: 150ms ease-in-out all;
}

.navigator a:hover {
  background: black;
  padding-inline: 1.25em;
  outline-color: var(--primary);
}

.navigator a:hover img {
  filter: saturate(1);
}
