<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  {% include "head.njk" %}
  <body class="wrapper">
    <a href="#main-content" class="sk-button acs-skip">Skip to main content</a>
    {% include "toolbar.njk" %}
    <main id="main-content">
      {% include "header.njk" %}
      <article class="stack">{{content | safe }}</article>
    </main>
    {% include "aside.njk" %}
    {% include "footer.njk" %}
  </body>
</html>