{% extends "./base.njk" %}

{% set aside_enabled = true %}
{% set is_home = true %}

{% html "aside" %}
{%- include "aside.njk" -%}
{% endhtml %}

{% block scripts %}
    <script type="text/javascript" defer>

        window.onload = function () {
            fetchLastfm();
        }

        setInterval(fetchLastfm, 6500);

        function fetchLastfm() {
            fetch("https://lastfm-worker.contact-surfscape.workers.dev/?user=reduxflakes")
                .then(response => response.json())
                .then(json => {
                    const recentTracks = json['recentTracks'];
                    if (!recentTracks || recentTracks.length === 0) 
                        return;
                    
                    const currentTrack = recentTracks[0];

                    const loadingStatus = document.getElementById('loadingStatus');
                    const playTitle = document.getElementById('playState');
                    const art = document.getElementById('albumCover');
                    const name = document.getElementById('name');
                    const artist = document.getElementById('artist');
                    const album = document.getElementById('albumName');

                    if (!currentTrack.albumCover) {
                        art.style.display = 'none';
                    } else if (currentTrack.albumCover !== art.src) {
                        art.src = currentTrack.albumCover;
                        art.style.display = 'block';
                    }

                    name.innerText = currentTrack.song;
                    artist.innerText = currentTrack.artist;
                    album.innerText = currentTrack.album;
                    name.href = currentTrack.songUrl;

                    if (currentTrack.nowPlaying) {
                        playTitle.innerText = 'Now Playing';
                        loadingStatus.style.background = '#A6E3A1';
                    } else {
                        playTitle.innerText = 'Last Played';
                        loadingStatus.style.background = '';
                    }

                    const history = document.getElementById('lastfm-history');
                    history.innerHTML = '';
                    recentTracks.forEach(item => {
                        const li = document.createElement('li');
                        li.innerHTML = `<a href="${item.songUrl}">${item.song} - ${item.artist}</a>`;
                        history.appendChild(li);
                    });
                })
                .catch(err => console.error("Error fetching Last.fm data:", err));
        }
    </script>
{% endblock scripts %}