{% extends "./base.njk" %}

{% set post = true %}

{# Check if toc is not defined or if it's true in the frontmatter #}
{% set toc_enabled = toc is not defined or toc %}

{% block base %}
    {%- if toc_enabled -%}
        <aside>
            <section id="toc">
                <h2>Table of Contents</h2>
                {{ content | toc(tags=['h2', 'h3']) | safe }}
            </section>
        </aside>
        <article class="stack" style="font-size: 1.15em;line-height: 1.6;padding-top:1.0rem;">
        {% else %}
            <article class="stack" style="font-size: 1.15em;line-height: 1.6;">
            {%- endif -%}
            {{ content | safe }}

            <p>~ Redux</p>
            <img src="/public/branding/signature.svg" alt="ReduxFlakes logo with a cross with light beige color and a propeller behind, serving as a signature to the blog post" eleventy:ignore class="signature">
        </article>
    {% endblock %}