{% extends "./base.njk" %}

{% set is_post = true %}
{% css "post" %}{% endcss %}

{% set toc_enabled = toc is not defined or toc %}
{# This checks if toc is not defined or is true #}

{% block base %}
    {% if toc_enabled %}
        <details>
            <summary>
                <h2>Table of Contents</h2>
            </summary>
            <section class="stack details-content">
                {{ content | toc | safe }}
            </section>
        </details>
        <hr>
    {% endif %}
    <article class="stack" style="font-size: 1.025em;line-height: 1.6;">
        {{ content | safe }}
    </article>
{% endblock %}