{% extends "./base.njk" %}

{% set post = true %}

{# Check if toc is not defined or if it's true in the frontmatter #}
{% set toc_enabled = toc is not defined or toc %}

{% block base %}
    {%- if toc_enabled -%}
        <details open>
            <summary>
                <h2>Table of Contents</h2>
            </summary>
            <section class="stack">
                {{ content | toc | safe }}
            </section>
        </details>
        <hr>
    {%- endif -%}
    <article class="stack" style="font-size: 1.025em;line-height: 1.6;">
        {{ content | safe }}
    </article>
    <p>Last updated in {{lastModified}}</p>

{% endblock %}