{% extends "./empty.njk" %}

{% set navigation = collections.all | eleventyNavigation("Shrines") -%}

{%- set categories = [] -%}
{%- for item in navigation -%}
  {%- if item.data.shrineId == "zzz" and item.url != "/extras/shrines/zzz/" -%}
    {%- set categories = categories.concat([item]) -%}
  {%- endif -%}
{%- endfor -%}

{% block body %}
  <header>
    <a href="/extras/shrines/zzz"><img src="/public/img/shrines/zzz.png" alt="Zenless Zone Zero logo"></a>
    <nav>
      {%- for link in categories -%}
        <a class="button" href="{{link.url}}">
          {{link.data.title}}</a>
      {%- endfor -%}
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>This shrine is not affiliated with or endorsed by miHoYo or Netmarble.</p>
    <p>&copy; 2026 ReduxFlakes</p>
  </footer>
{% endblock %}