---
title: Blog
description: Life, projects, site updates, and other rambles and articles...
icon: "farm-post"
order: 1
pagination:
  data: collections.posts
  size: 4
  alias: posts
  addAllPagesToCollections: true
paginationPrevText: 'Newer posts'
paginationNextText: 'Older posts'
permalink: "/writing/blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/"
eleventyComputed:
  content_css: false
  key: "{% if pagination.pageNumber > 0 %} Page {{ pagination.pageNumber }}{% else %}Blog{% endif %}"
  parent: "{% if pagination.pageNumber > 0 %}Blog{% else %}Writing{% endif %}"
  aside_enabled: "{% if pagination.pageNumber == 0 %}true{% else %}false{% endif %}"
---

{% if pagination.pageNumber == 0 %}
  {% html "aside" %}
  <section class="aside-block">
    <h2>Tags</h2>
    <nav class="auto-flex">
      {%- set tagCloud = collections.posts | tagCloud -%}
      {%- for tag, count in tagCloud -%}
        <a class="label" href="tag/{{ tag | slugify }}">{{ tag }}
          <small>{{ count }}</small>
        </a>
      {%- endfor -%}
    </nav>
  </section>

  <section class="aside-block">
    <h2>Feeds</h2>
    <nav aria-label="Blog feed subscriptions" class="auto-flex">
      <a class="label" href="/blog/feed.xml">{% lucide "rss" %} RSS</a>
      <a class="label" href="/blog/atom.xml">{% lucide "atom" %} Atom Feed</a>
      <a class="label" href="/blog/feed.json">{% lucide "file-braces" %} JSON Feed</a>
    </nav>
  </section>

  {% endhtml %}

{% endif %}

{% for post in posts %}
  {{ component('post-listing', {title: post.data.title, date: post.date, description: post.data.description, href: post.url }) }}
{% endfor %}

{% if pagination.href.next or pagination.href.previous %}
  <footer>
    <nav class="pagination__inner" aria-label="Pagination links">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">
          <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
        </a>
      {% endif %}
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards">
          {{ paginationNextText if paginationNextText else 'Next' }}
        </a>
      {% endif %}
    </nav>
  </footer>
{% endif %}