---
pagination: 
    data: collections.postTags
    size: 1
    alias: tag
    addAllPagesToCollections: true
permalink: "/blog/tag/{{ tag | slugify }}/"
eleventyComputed:
    title: "Tagged with: {{ tag }}"
    description: false
    parent: "Blog"
    key: "Blog Tagged with: {{ tag }}"
---

{% set postList = collections.posts %}

{% for post in postList %}
    {% if tag in post.data.tags %}
        {{ component('post-listing', {
      title: post.data.title, 
      date: post.date, 
      description: post.data.description, 
      href: post.url 
    }) }}
    {% endif %}
{% endfor %}