{% extends "./base.njk" %}
{% set post = true %}
{# Check if toc is not defined or if it's true in the frontmatter #}
{% set toc_enabled = toc is not defined or toc %}
{% if toc_enabled %}
  {% set aside_enabled = true %}
  {% set aside_acs = "top" %}
  {% set aside_modifier = "post-aside" %}
  {% html "aside" %}
  <section class="aside-block toc-aside">
    <h2>Table Of Contents</h2>
    {{ content | toc(tags=['h2', 'h3']) | safe }}
  </section>
  {% endhtml %}
{% endif %}
{% block base %}
  <article class="stack" style="font-size: 1.125em;letter-spacing:0em;line-height: 1.6;">
    {{ content | safe }}
      <hr>
    <section class="card stack card--support">
      <h2>Support my work!</h2>
      <p>If you like what I do and what I write, plase consider doing a small donation to support the stuff I do, I'll be
        really grateful!</p>
      <a href="/support" class="button">{% lucide "hand-heart" %} Support Options</a>
    </section>
  </article>
{% endblock %}