---
title: Home
layout: base
description: Fireplace in the mall
date: 2024-11-11T09:25:31.000Z
---

<img src="/public/img/gifs/underconstruction.gif" alt="Yellow warning bar telling peopel the site is under construction" class="pixel full-img">

{% renderTemplate "md" %}

## Welcome

Welcome to my new personal website! Yes, I've redesigned it again since I wasn't "enjoying" my last design/layout, the reason was that, like other Neocities sites, I wanted something special and personal, and the last website was just a minimalist portoflio without any personality, now that doesn't mean the other version was scrapped since I liked the work I did on it, so that means I now have two personal websites, this one and a portfolio based on the older one.

## Latest Additions

{% endrenderTemplate %}

<ul class="card-list">
  {%- for post in collections.latestContent  -%}
    <li class="card-list-item">
      <a href="{{ post.url }}">
        <h3>
          {{ post.data.title }}</h3>
        <p>{{post.data.description}}</p>
      </a>
    </li>
  {%- endfor -%}
</ul>

{% renderTemplate "md" %}

## Stuff to do

## Projects

{% endrenderTemplate %}

<ul class="card-list">
  {%- for item in projects  -%}
    <li class="card-list-item">
      <a href="{{ item.url }}">
        <h3>
          {{ item.title }}</h3>
        <p>{{item.description}}</p>
      </a>
    </li>
  {%- endfor -%}
</ul>