---
title: Home
layout: base
description: Fireplace in the mall
date: 2024-11-11T09:25:31.000Z
tabby: true
---

{% renderTemplate "md" %}

## Welcome

I'm ReduxFlakes (reduc for close friends), a software developer, designer, and privacy advocate from Portugal, and this is my zone on the internet.

I'm a huge fan of old tech, gaming, minimalism, and music.

## Latest Post

{% endrenderTemplate %}

{%- for post in collections.posts | reverse | limit(1) -%}
  <section class="showcase-card">
    <h3 class="sc-heading">
      <span>{{ post.data.title }}</span></h3>
    <div class="content stack" style="--spacer: 0.25em;">
      <p>
        <small>
          <time datetime="{{post.date}}">{{post.date | formatPostDate}}</time>
        </small>
      </p>
      <p>{{ post.data.page.excerpt }}</p>
      <p>
        {{ component('link-button', {href: post.url, title: "Read more..." }) }}
      </p>
    </div>
  </section>
{%- endfor -%}

{% renderTemplate "md" %}

## Interests

<div class="tabs-container">
  <ul data-tabs>
    <li>
      <a data-tabby-default href="#likes">Likes</a>
    </li>
    <li>
      <a href="#dislikes">Dislikes</a>
    </li>
  </ul>
  <div id="likes" class="tabby-content">
  
  * UI design
  * Blue, pink, and purple
  * Valve games
  * Minimalism design (modern and swiss)
  * Pixel art
  * Old tech
  
  </div>
  <div id="dislikes" class="tabby-content">456</div>
</div>

{% endrenderTemplate %}

<ul class="card-list">
  {%- for post in collections.latestContent | limit(3) -%}
    <li class="card-list-item">
      <a href="{{ post.url }}">
        <h3>
          {{ post.data.title }}</h3>
        <p>{{ post.data.description }}</p>
      </a>
    </li>
  {%- endfor -%}
</ul>

{% renderTemplate "md" %}

## Projects

{% endrenderTemplate %}

<ul class="card-list">
  {%- for item in projects  -%}
    <li class="card-list-item">
      <a href="{{ item.url }}">
        <h3>
          {{ item.title }}</h3>
        <p>{{item.description}}</p>
      </a>
    </li>
  {%- endfor -%}
</ul>