---
title: Home
layout: base
description: Fireplace in the mall
date: 2024-11-11T09:25:31.000Z
eleventyImport:
  ["posts"]
---

{% renderTemplate "md" %}

## Welcome

I'm ReduxFlakes (reduc for close friends), a software developer, designer, and privacy advocate from Portugal, and this is my zone on the internet.

I'm a huge fan of old tech, gaming, minimalism, and music.

## Latest Post

{% endrenderTemplate %}

{%- for post in collections.posts -%}
  <section class="showcase-card">
    <h3 class="sc-heading">{{ post.data.title }}</h3>
    <div class="content stack" style="--spacer: 0.25em;">
      <p>
        <small>
          <time datetime="{{post.date}}">{{post.date | formatPostDate}}</time>
        </small>
      </p>
      <p>{{ post.data.page.excerpt }}</p>
      <p>
        {{ component('link-button', {href: post.url, title: "Read more..." }) }}
      </p>
    </div>
  </section>
{%- endfor -%}

{% renderTemplate "md" %}

## Latest Additions

{% endrenderTemplate %}

<ul class="card-list">
  {%- for post in collections.latestContent | limit(3) -%}
    <li class="card-list-item">
      <a href="{{ post.url }}">
        <h3>
          {{ post.data.title }}</h3>
        <p>{{ post.data.description }}</p>
      </a>
    </li>
  {%- endfor -%}
</ul>

{% renderTemplate "md" %}

## Stuff to do

## Projects

{% endrenderTemplate %}

<ul class="card-list">
  {%- for item in projects  -%}
    <li class="card-list-item">
      <a href="{{ item.url }}">
        <h3>
          {{ item.title }}</h3>
        <p>{{item.description}}</p>
      </a>
    </li>
  {%- endfor -%}
</ul>