@font-face {
    font-family: 'ZZZ';
    font-weight: 100 900;
    src: url('/public/fonts/zzz.ttf');
    font-style: normal;
    font-display: swap;
}

html {
    --s: 60px;
    --c1: #f48423c7;
    --c2: #101010;
    background:
        linear-gradient(atan(-.5), var(--c1) 33%, var(--c2) 33.5% 66.5%, var(--c1) 67%) 0/var(--s) var(--s);
    padding: 0 6rem;
    animation: 50s infinite linear moveBackground;
}


@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }

}

body {
    font-family: "ZZZ";
    position: relative;
    background-image: radial-gradient(hsla(0, 0%, 100%, 0.20) 1px, hsla(0, 0%, 0%, 0.5) 1px);
    background-size: 10px 10px;
    backdrop-filter: blur(4px);
    outline: 4px solid rgba(255, 255, 255, 0.217);
    border: 4px solid black;
    border-radius: 32px;
    max-width: 860px;
    margin: 6rem auto;
    height: 100svh;
    color: #B4B4B4;
    text-shadow: 0px 0px 4px black;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    color: hsl(0, 0%, 95%);
}

header {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 1.5rem;
    top: -4rem;
    left: -4rem;
    z-index: 1;
}

header img {
    height: 8rem;
    width: auto;
}

header nav {
    display: flex;
    gap: 1rem;
}

a.button {
    position: relative;
    padding: 0.5rem 1.5rem;
    margin: 4px;
    font-weight: 400;
    font-style: italic;
    background-color: black;
    background-image: radial-gradient(#1e1e1e 0.75px, transparent 0.75px), radial-gradient(#1e1e1e 0.75px, transparent 0.75px);
    background-size: 4px 4px;
    background-position: 0 0, 15px 15px;
    text-decoration: none;
    border-radius: 56px;
    font-size: 14px;
    text-shadow: none;
}

a.button:active {
    color: black;
    background: transparent;
}

a.button:active::after {
    content: "";
    position: absolute;
    display: block;
    inset: -4px -4px;
    border-radius: 56px;
    z-index: -1;
    scale: 1.05;
    background: yellowgreen;
    animation: 2000ms colorChange infinite, 600ms scaleUpDown ease-out infinite;
}

@keyframes colorChange {
    0% {
        background: yellowgreen;
    }

    50% {
        background: orange;
    }

    100% {
        background: yellowgreen;
    }
}

@keyframes scaleUpDown {
    0% {
        scale: 1;
    }

    15% {
        scale: 1.13;
    }

    80% {
        scale: 1;
    }

    100% {
        scale: 1;
    }
}

a.button::before {
    position: absolute;
    content: "";
    inset: -4px -4px;
    z-index: -2;
    border-radius: 56px;
    background: rgb(32, 32, 32);
    border: 3px solid black;
    box-shadow: inset 0px 1px 1px #5B5B5B;
    background: #313131;
}

main {
    padding: 3rem 1.5em;
}