name: Deploy to nekoweb

on:
  push:
    branches:
      - stable
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: deploy2nekoweb
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.1.x
      - run: deno i
      - run: deno task build:neko
      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: website-artifacts
          include-hidden-files: true
          path: _site
      - uses: actions/checkout@v3
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: website-artifacts
          path: _site
      - name: deploy2nekoweb
        uses: indiefellas/deploy2nekoweb@main
        with:
          nekoweb-api-key: ${{ secrets.NEKOWEB_API_KEY }}
          nekoweb-domain: "reduxflakes.nekoweb.org"
          nekoweb-username: "reduxflakes"
          directory: "_site"
