<aside class="aside stack">

    <h3>Socials</h3>

    <div class="button-grid"style="gap:1rem;">
        {%- for item in meta.socials -%}
            <a href="{{item.url}}"  style="display:flex;align-items:center;gap:1rem;"><img src="/public/icons/pixy/{{item.name | slugify}}.png" alt="" aria-hidden="true" class="classic-btn" loading="lazy" decoding="async" eleventy:ignore>{{item.name}}</a>
        {%- endfor -%}
    </div>
</aside>